# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Thumbs.db
*.keystore
*.psd
*.__mk

local.properties
*.user
*.user.*
debug
*.pdb
*.apk